*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.super-box {
  background-color: #aa8805;
  padding: 8px 20px;
  display: inline-block;
  transform: skewX(-5deg) rotate(-2deg);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  font-family: 'Futura', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: -1.5px;
  line-height: 1;
  margin: 0;
}
/*ห้ามคลุมดำ*/
body {
    -webkit-user-select: none; /* สำหรับ Safari */
    -ms-user-select: none;      /* สำหรับ IE/Edge */
    user-select: none;         /* สำหรับ Chrome และเบราว์เซอร์มาตรฐาน */
}

/* แต่ถ้าอยากให้ช่อง Input ยังพิมพ์ได้ (ต้องยกเว้นไว้) */
input, textarea {
    user-select: text;
}

/* scroll */
.scroll-road {
  height: 600vh;
}

.page {
  transition: opacity 0.5s ease, 
  transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), 
  filter 0.6s;
}

/*the sticky header*/
#main-header{
	position: fixed; /*sticky content*/
	top: 0;
	width: 100%;
	display: flex; /*เรียง content แนวนอน*/
	justify-content: space-between; /*ชื่ออยู่ซ้าย เมนูอยู่ขวา*/
	align-items: center;
	padding: 20px 40px; /*เว้นขอบด้านใน*/
	z-index: 900; /*ทำให้มันอยู่เหนือทุกสิ่ง*/
	background: transparent; /*พื้นหลังใส*/
}

#main-header h1{
	font-size: 1.5em; /* ขนาดหัวข้อ */
	font-weight: bold;
}

#main-header nav a{
	margin-left: 20px;
	text-decoration: none; /*เอาเส้นใต้ออก*/
	color: #1a1a1a;
	font-size: 1em;
}

/* scroll down hint */
.scroll-indicator{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12000;
  text-align: center;
  transition: opacity 0.5s ease, visibility 0.5s;
  pointer-events: none;
}

.scroll-indicator p{
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* mouse */
.mouse {
  width: 22px;
  height: 35px;
  border: 2px solid #004058;
  border-radius: 20px;
  margin: 0 auto 5px;
  position: relative;
}

.wheel {
  width: 2px;
  height: 6px;
  background: #004058;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll-wheel 1.5s infinite;
}

.arrow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #004058;
  border-right: 2px solid #004058;
  transform: rotate(45deg);
  margin: -5px auto 0;
  animation: arrow-down 1.5s infinite;
}

/* animation hint */
@keyframes scroll-wheel {
  0% { opacity: 1; top: 5px; }
  100% { opacity: 0; top: 15px; }
}
@keyframes arrow-down {
  0% { opacity: 0; transform: rotate(45deg) translate(-5px,-5px); }
  50% { opacity: 1; }
  100% { opacity: 0; transform: rotate(45deg) translate(5px,5px); }
}
/* hide when scroll down */
.scroll-indicator.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Hamburger */
.hamburger {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 25px;
  right: 25px;
  cursor: pointer;
  gap: 5px;
  z-index: 11000 !important;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: black; 
  transition: 0.3s;
}

.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
  background-color: #000 !important;
  opacity: 1 !important;
}

.hamburger.active span:nth-child(2) {
  opacity: 0 !important; /* ใช้ !important เพื่อสู้กับคลาส active ทั่วไป */
}

/* 3. ตรวจสอบคำสั่งหมุน (เพื่อให้เป็นตัว X ที่สวยงาม) */
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* full screen background */
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 100vh;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.98); 
  z-index: 10500;
  
  /* hide & show */
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease-in-out;
}

/* open menu */
.nav-links.active {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateY(0);
}

/* active pag & video */
.video-step.active, 
.page.active {
  opacity: 1 !important;
  z-index: 10; /* content layer */
}

/* font ham-menu */
.nav-links li a {
  font-size: 2rem;       
  text-decoration: none; 
  color: #004058;           
  font-weight: bold;     
  text-transform: uppercase; 
}

/* section */
.main-container {
  display: flex; /* Flexbox */
  margin-top: 60px;
  flex-direction: row; 
  width: 100%;
  min-height: 100vh; /* always full screen */
}

.box-a, .box-b {
  position: fixed;
  width: 50%;
  height: 100%;
  padding: 10px; /* ขอบกั้นเนื้อหา 10px */
  align-items: center;
}

.box-a { 
  position: fixed;
  width: 50%;
  height: 100%;
  padding: 10px;
  left: 0; 
  background: #fff; }

.box-b { 
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 10px;
 }

.text-wrap {
  height: 100%;
  width: 100%;
  position: relative;

  /* fade text smooth */
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
  min-height: 100%;
  height: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 100%;
  box-sizing: border-box;
}

/* hide for chrome, safari, opera */
.page::-webkit-scrollbar {
  display: none;
}

.page .content {
  max-width: 80%;
  margin: 0 auto;
}

.page p {
  line-height: 1.6;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* head font style */
#p1 h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  line-height: 1;
  color: #004058;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: center;
}

/* content: Roboto */
#p1 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;       /* ใช้ความบางระดับ 300 เพื่อความมินิมอล */
  font-size: 1rem;
  color: #004058;           /* สีเทาเข้มเพื่อให้อ่านสบายตา */
  letter-spacing: 0.5px; /* เว้นระยะตัวอักษรนิดหน่อยให้ดูโปร่ง */
  line-height: 1.6;
  text-align: center;
}

#p5 {
  align-items: flex-start;
  text-align: left;
  padding-left: 10%;
  background-color: #fff;
}

/* กล่องแม่ */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}

/* standard for all (include button) */
.form input,
.form textarea,
.form button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box; /* important: for padding not to effect box */
}

/* only (Input & Textarea) */
.form input, 
.form textarea {
  border: 1px solid #444;
  background-color: white; /* background color */
  color: #000;          /* text color black */
  font-size: 16px;
}

/* modify Textarea */
.form textarea {
  height: 100px;
  resize: vertical;        /* user height */
}

/* text style (Placeholder) */
.form input::placeholder,
.form textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #888;
}

/* gimmick on click (Focus) */
.form input:focus, 
.form textarea:focus {
  outline: none;
  border-color: #007bff; /* เปลี่ยนสีขอบเมื่อคลิก */
  box-shadow: 0 0 5px rgba(0,123,255,0.2);
}

#p5 h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #004058;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

#p5 p {
  color: #aaa;
  margin-bottom: 30px;
}

#p5 button {
  background-color: #fff;
  color: #000;
  padding: 12px 40px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}

#p5 button:hover {
  background-color: #ddd;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3)
}

/* sticky full bottom */
.sticky-footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(40px); /* ดันลงไปนิดนึงเตรียมลอยขึ้น */
    z-index: 11000; /* อยู่หน้าเนื้อหาแต่หลังเมนู Hamburger */
    text-align: center;
    
    /* hide */
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

/* show up when scroll to p5 (JS) */
.sticky-footer.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* ลอยขึ้นมาที่ตำแหน่งเดิม */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: rgba(255, 255, 255, 0.9); /* พื้นหลังกระจกฝ้า */
    padding: 18px 45px;
    border-radius: 60px;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.copyright {
    font-size: 0.7rem;
    color: #888;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* icon social style */
.social-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.icon-link {
    font-size: 28px;      /* ขนาดไอคอน */
    color: #444;          /* สีเริ่มต้น (เทาเข้ม) */
    transition: all 0.3s ease;
}

/* เอฟเฟกต์ตอนเอาเมาส์ชี้ - เปลี่ยนสีตามแบรนด์ */
.icon-link:hover {
    transform: translateY(-5px); /* ลอยขึ้นเล็กน้อย */
}

.fa-facebook:hover { color: #1877F2; }
.fa-instagram:hover { color: #E4405F; }
.fa-line:hover { color: #06C755; }

.video-step, .page {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);  /* LEFT & RIGHT 10px */
  height: calc(100% - 20px); /* TOP & BTM 10px */
  opacity: 0;   /* hide before */
  transition: opacity 0.3s ease-in-out;
}

.video-step video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
 -webkit-media-controls {
  display: none !important;
  }
}

.video-step {
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* สูงที่สุดเพื่อให้ทับทุกเลเยอร์ */
  transition: opacity 1s ease, visibility 1s;
}

.loading-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#a5.active {
    display: block !important;
    opacity: 1 !important;
    z-index: 10; /* ดันขึ้นมาให้อยู่เหนือพื้นหลัง */ 
} 

#a5 {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    /* z-index: 1 !important; /* ให้อยู่ล่างสุดของเนื้อหา */
}

#a5 video {
  pointer-events: none; /* dont touch screen */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.static-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5; /* ให้อยู่เหนือวิดีโอเมื่อสั่งโชว์ */
}

.project-box{
	margin: 20px;
	padding: 50px;
	border: 1px solid #1a1a1a;
	width: 80%;
	max-width: 400px;
	text-align: center;
}

/* full screen show up */
.error-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7); /* สีดำโปร่งแสง */
    backdrop-filter: blur(8px);    /* ทำพื้นหลังให้เบลอ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10005;                /* อยู่หน้าสุดของทุกอย่าง */
    opacity: 0;                    /* ซ่อนไว้ */
    visibility: hidden;
    transition: all 0.4s ease;
}

/* error popup */
.error-overlay.show {
    opacity: 1;
    visibility: visible;
}

/* popup */
.error-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    transform: scale(0.7); /* start from tiny */
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.error-overlay.show .error-box {
    transform: scale(1); /* expand */
}

/* icon: red-circle */
.error-icon {
    width: 60px; height: 60px;
    background: #c03830;
    color: #d0d8e0;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.error-box h2 { margin-bottom: 10px; color: #333; }
.error-box p { color: #666; margin-bottom: 25px; line-height: 1.5; }

/* error-btn */
.error-box button {
    background: #004058;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.error-box button:hover { background: #202830; }

.page > * {
  margin-bottom: 20px;
}

.page > *:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
    .main-container { flex-direction: column; }
    .box-a {
      position: fixed;
      width: 100%;
      height: 65%;
      top: 0;
      left: 0;
    }
    .box-b { 
      position: fixed;
      width: 100%;
      height: calc(35% - 20px);
      bottom: 20px;
      border-radius: 20px 20px 0 0;
      top: 65%;
      right: 0;
      background: white;
     }
     .page {
      justify-content: flex-start;
      padding-top: 60px;
      padding-bottom: 60px;
     }
      #p5 h1{
        font-size: 1rem;
      }
      #p5{
        padding-left: 20px;
        padding-right: 20px;
      }
}
